body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: aquamarine;
  flex-direction: column;
}

.App{
  display: flex;
  height: 100%;
  width: 100%;
  margin:0
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin-top:25px;
  height: 5%;
  width: 95%;
  padding:10px;
  border-radius: 25px;
  background-color: burlywood;
  border-style: solid;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  height: 5%;
  width: 95%;
  padding:10px;
  justify-content: space-around;
  align-items: center;
}

.inputBox {
  height: 70%;
  width: 25%;
  box-shadow: inset 1px 1px 5px black;
  border-radius: 25px;
  text-align: center;
  font-size: large;
}

.dataBar {
  display: flex;
  height: fit-content;
  width: 95%;
  padding:10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.taskArea {
  width: 80%;
}

.doAndDelete {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.textBox {
  display: flex;
  margin-top:50px;
  justify-content: center;
  flex-direction: column;
}

.submit {
  height: 30px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
  transition: 0.5s;
}

.sumbit:active {
  box-shadow: inset 1px 1px 10px black;
}

.delete {
  height: 30px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
  transition: 0.5s
}

.delete:active {
  box-shadow: inset 1px 1px 10px black;
}

.incomplete {
  display: flex;
  height: 30px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.complete {
  display: flex;
  height: 30px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
  background-color: green;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    margin-top:25px;
    height: 5%;
    width: 80%;
    padding:10px;
    margin-bottom:25px;
    border-radius: 25px;
    background-color: burlywood;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    height: 5%;
    width: 95%;
    padding:10px;
    font-size: xx-small;
    justify-content: space-around;
    align-items: center;
  }

  .inputBox {
    height: 20px;
    width: 75px;
    box-shadow: inset 1px 1px 5px black;
    border-radius: 25px;
    text-align: center;
    font-size: xx-small;
  }

  .submit {
    height: 20px;
    width: 75px;
    font-size: xx-small;
    box-shadow: 1px 1px 5px black;
    border-radius: 25px;
    transition: 0.5s;
  }

  .doAndDelete {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: xx-small;
  }

  .delete {
    height: 20px;
    width: 75px;
    box-shadow: 1px 1px 5px black;
    border-radius: 25px;
    transition: 0.5s
  }
  
  .delete:active {
    box-shadow: inset 1px 1px 10px black;
  }
}